/* START: TABS */
.adcTab {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
.adcTabTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 10px;
  border-bottom: 1px solid rgba(190, 190, 190, 0.474);
}
.adcTabTitle h1 {
  font-weight: 700;
  padding: 10px;
}
.adcTab-closed .adcTabTitle {
  border-bottom: none;
}
.adcTabClose {
  transition: all 0.4s ease-in-out;
  transform: rotate(270deg);
  font-size: 18px;
  font-weight: 600;
}
.adcTabContents {
  height: 500px;
  overflow-x: auto;
  transition: height ease-in-out 0.2s;
}
.adcTab-closed .adcTabContents {
  height: 0;
  overflow: hidden;
}

.adcTab-closed .adcTabClose {
  transform: rotate(180deg);
}
/* END: TABS */

/* START: TABLE */
.doctorsTable {
  flex: 0.4;
}

/* END: TABLE */

/* Table container */
.adcTable {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.adcTable h1 {
  font-size: 21px;
  font-weight: 500;
}
.adcTable .adcRow {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  border-bottom: 1px solid rgba(180, 180, 180, 0.5);
  padding: 10px 20px;
}
.adcTable .adcRow .adcCell {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.adcTableContainer {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  /* margin: 30px 30px; */
}

.adcTable .adcHead {
  border-bottom: none;
  padding: 0 20px;
}
.adcHead .adcCell {
  text-transform: uppercase;
  font-size: 12px;
  color: rgb(150, 150, 150);
  padding: 0;
}

.adcCell a {
  text-decoration: none;
}

.adcRowBody {
  /* background-color: white; */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  border-radius: 10px;
  background-color: white;
}

@media screen and (max-width: 700px) {
  .adcTable {
    width: 500px;
    overflow-x: auto;
    margin: 0 auto;
  }
  .header {
    flex-direction: column;
  }
  .patientTitle {
    margin-bottom: 10px;
  }
  .headerLinks {
    flex-wrap: wrap;
  }
  .headerLinks a {
    margin: 10px !important;
  }
}

/* End of table container */

/* START: CARD */
.adcCard {
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.adcCardTitle {
  font-size: 18px;
  font-weight: 600;
  /* color: dodgerblue; */
}
.adcCardTitle-under {
  width: 45px;
  height: 4px;
  border-radius: 20px;
  background-color: dodgerblue;
  /* position: absolute;
  bottom: 0; */
}
/* END: CARD */

/* START: Form */
.infoFilter {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  /* flex-direction: column; */
}

.infoFilterInput {
  width: 50%;
  padding-right: 20px;
}

.infoFilter textarea,
.infofilter textarea {
  outline: none;
  resize: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.311);
}
.infoFilter input,
.infoFilter select,
.infoFilterInput input,
.infoFilterInput select {
  margin-bottom: 20px;
  height: 35px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.311);
  transition: all ease-in-out 0.2s;
  padding: 0 10px;
  width: 100%;
}
.infoFilter input:focus,
.infoFilter select:focus {
  border: 1px solid rgba(0, 0, 0);
}
.infoFilterInput {
  display: flex;
  flex-direction: column;
}
.infoFilter button {
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  border: none;
  padding: 0 80px;
  border-radius: 10px;
  margin: 10px auto;
  cursor: pointer;
  transition: all 0.4s ease-in;
  height: 45px;
}

.infoFilter button:hover {
  background-color: dodgerblue;
  color: white;
}
/* END: Form */

/* Button */
.adcBtn {
  height: 40px;
  width: fit-content;
  padding: 0 20px;
  margin: 6px;
  outline: none;
  border: 2px solid dodgerblue;
  border-radius: 5px;
  cursor: pointer;
}
.adcBtn-solid {
  background-color: dodgerblue;
  color: white;
}
.adcBtn-gas {
  background-color: white;
  color: dodgerblue;
}
