.patInfo {
  width: fit-content;
  padding: 20px;
  box-shadow: 1px 1px 1px 1px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* .patInfoItem {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* Patinfo css */

.patInfoContainer {
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}
.patInfoItem {
  width: 100%;
  margin: auto;
}

.formCard {
  flex: 0.3;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  padding: 20px;
  height: fit-content;
}

.formCard h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
}

.formCard .infoPat {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.patientTitle-under {
  width: 45px;
  height: 4px;
  border-radius: 20px;
  background-color: dodgerblue;
  position: absolute;
  bottom: 0;
}

.infoItem {
  min-height: 40px;
  width: 100%;
  border-bottom: 1px solid rgb(164, 164, 164);
  display: flex;
  align-items: center;
}

.infoItem p {
  width: 30%;
}

.infoCards {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.infoCard {
  flex: 0.6;
  /* background-color: white; */
  /* border-radius: 10px; */
  /* box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px; */
  padding: 20px;
  /* overflow-x: hidden; */
  /* overflow-y: auto; */
  /* max-height: 80%; */
  margin-bottom: 20px;
}
.infoFilter {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  /* flex-direction: column; */
}

.infoFilterInput {
  width: 50%;
  padding-right: 20px;
}

.infoFilter input,
.infoFilter select,
.infoFilterInput input,
.infoFilterInput select {
  margin-bottom: 20px;
  height: 35px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.311);
  transition: all ease-in-out 0.2s;
  padding: 0 10px;
  width: 100%;
}
.infoFilter input:focus,
.infoFilter select:focus {
  border: 1px solid rgba(0, 0, 0);
}
.infoFilterInput {
  display: flex;
  flex-direction: column;
}
.infoFilter button {
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  border: none;
  padding: 0 80px;
  border-radius: 10px;
  margin: 10px auto;
  cursor: pointer;
  transition: all 0.4s ease-in;
  height: 45px;
}

.infoFilter button:hover {
  background-color: dodgerblue;
  color: white;
}

/* End of patinfo css */
