body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  text-decoration: none;
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  transition: all 0.4s ease-in-out;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(172, 172, 172, 0.492);
  outline: none;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  backdrop-filter: blur(10px);
}

.patientTitle {
  font-size: 18px;
  font-weight: 600;
}

.homeLogo {
  width: 100px;
  height: 50px;
  margin-top: 20px;
}

/* Doctor's Home section */
.doctorHomeMain {
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  /* background-color: rgba(182, 182, 182, 0.459); */
  /* padding: 20px; */
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dash {
  font-size: 24px !important;
  font-weight: 500 !important;
  position: relative;
  margin-bottom: 20px;
}

.dashboard-under {
  width: 45px;
  height: 4px;
  border-radius: 20px;
  background-color: dodgerblue;
  position: absolute;
  bottom: 0;
}

.appoint,
.report {
  font-size: 18px;
}

.dashboardContainer {
  flex: 1;
  width: 90%;
  height: 100%;
  display: flex;
  margin-top: 6rem;
}
.dashboardLeft {
  flex: 0.8;
  display: flex;
  align-items: flex-start;
  padding: 10px 20px;
  justify-content: flex-start;
  flex-direction: column;
}
.dashboardRight {
  flex: 0.2;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 20px;
  flex-direction: column;
}
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.dashboard h1 {
  font-weight: 600;
}

.dash {
  color: #494d50;
}

.dashboardCard {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.dashCardItem {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.dashCardItem i {
  color: dodgerblue;
}
.dashCardItem img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}

.reportCardContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.reportCard {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  min-height: 60px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.billingDetails {
  flex: 1;
  width: 100%;
  margin-top: 20px;
}

.report {
  color: #494d50;
}

.appoint {
  color: #494d50;
  font-weight: 600;
}

.bill {
  color: #494d50;
}

.billingCardsContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.billingCard {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
  min-height: 50px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.billingCard a {
  text-decoration: none;
  color: dodgerblue;
}

.billingCard p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.billingCard p i {
  margin-right: 0.5rem;
  color: dodgerblue;
}

@media screen and (max-width: 1110px) {
  .dashboardContainer {
    flex-direction: column;
  }
}
/* End of doctor's home section */
