{% extends 'navbar.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/patients/common.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/patients/patland.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/components.css' %}"
/>
<title>Patient Bill Information</title>
{% endblock %} {% block content %}
<div class="patientLayout">
  <div class="adcTableContainer">
    <h1 class="adcCardTitle">Bill Information</h1>
    <div class="adcCardTitle-under"></div>
    <br />
    <div class="adcTable">
      <div class="adcRow adcHead">
        <!-- <div class="adcCell">NAME</div> -->
        <div class="adcCell">patient</div>
        <div class="adcCell">doctor</div>
        <div class="adcCell">Payment</div>
        <div class="adcCell">status</div>
        <div class="adcCell">DATE CREATED</div>
      </div>
      <div class="adcRowBody">
        {% for bi in bill %}
        <div class="adcRow">
          <!-- <div class="adcCell">{{press.name}}</div> -->
          <div class="adcCell">{{bi.patient.pname}}</div>
          <div class="adcCell">{{bi.doctor.dname}}</div>
          <div class="adcCell">{{bi.amount}}</div>
          <div class="adcCell">{{bi.status}}</div>
          <div class="adcCell">{{bi.bdate}}</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
