<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient list</title>
</head>
<body>
    <h1>Patient info </h1>

    <table>
    <tr>
        <th>NAME</th>
    
    </tr>

    {% for p in p %}

    <tr>
        <td>{{p.pname}}</td>
        <td><a href="{% url 'pat' p.id %}">View</a></td>
    
    </tr>
      
    {% endfor %}
</table>


<a href="{% url 'crtbill'  %}"><h4>Create Bill</h4></a>
<a href="{% url 'crtprc'  %}"><h4>Create Prescription</h4></a>
    
</body>
</html>