{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ADC</title>
    <link rel="stylesheet" href="{% static 'css/components.css' %}" />
    <link rel="stylesheet" href="{% static 'css/landing.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <header class="lHeader px-10">
      <img src="{% static 'img/adc.png' %}" alt="logo" />
      <menu class="lMenu">
        <a href="" class="menuItem">
          <p>About Us</p>
        </a>
        <a href="" class="menuItem">
          <p>Services</p>
        </a>
        <a href="" class="menuItem">
          <p>Doctors</p>
        </a>
        <a href="" class="menuItem">
          <p>Testimonials</p>
        </a>
        <a href="" class="menuItem lastItem">
          <p>Contact Us</p>
        </a>
        <a href="{% url 'login' %}">
          <button class="adcBtn adcBtn-solid shadow-lg">Login</button>
        </a>
        <a href="{% url 'register' %}">
          <button class="adcBtn adcBtn-gas shadow-lg">Signup</button>
        </a>
      </menu>
    </header>

    <div class="lLayout mt-48">
      <section class="lSection mx-24">
        <div class="lSection-content">
          <!-- <span class="text-[#2edfcd]">About Us</span> -->
          <h1 class="text-4xl font-semibold mt-4">
            High quality and painless
            <span class="text-[#1e90ff]">dentistry</span>
          </h1>
          <h1></h1>
          <p class="mt-4 mb-3"></p>

          <p>
            Alleppey Dental Clinic is a multispecialty dental clinic situated in
            the heart of Alappuzha city. Equipped with latest technology we
            provide all types of treatment modalities complying with
            international standards, to ensure you get the best dental care.
            Most importantly we ensure that your visit to us is a relaxing
            experience. Oral diseases can take an incalculable emotional toll,
            by restoring dental health. Alleppey Dental Clinic aims to have life
            - changing impact on the lives of our patrons. Alleppey Dental
            Clinic have enough experience in different types of modern
            treatments and in maintaining the beautiful smile of our patients.
          </p>
          <a href="{% url 'login' %}">
            <button class="adcBtn adcBtn-solid shadow-lg">
              Make Appointment
            </button>
          </a>
        </div>
        <div class="lSection-img">
          <img src="{% static 'img/avatar.png' %}" alt="" />
        </div>
      </section>

      <section
        class="lSection bg-white max-w-[1200px] p-10 py-20 rounded-tr-3xl rounded-br-3xl"
      >
        <div class="lSection-img">
          <img src="{% static 'img/avatar.png' %}" alt="" />
        </div>
        <div class="lSection-content">
          <span class="text-[#2edfcd] uppercase">About Us</span>
          <h1 class="text-4xl font-semibold mt-4">
            Patient health is the highest value in our work
          </h1>
          <p class="mt-4 mb-3">
            Alleppey Dental Clinic was opened with a vision to provide the
            latest and the best treatments for all dental related issues by
            bringing together well experienced Dental Specialists in different
            fields so that our patient gets the best dental care and advice. We
            are proud to have the cleanest and ultra modern clinic in town,
            having the latest equipments. We have trained our staff and adhere
            to strict protocols so see to that properly sterilized and
            autoclaved instruments are used for each patients.
          </p>
          <a href="{% url 'login' %}">
            <button class="adcBtn adcBtn-solid shadow-lg">Learn More</button>
          </a>
        </div>
      </section>

      <p class="text-base text-[#2edfcd] uppercase text-center mb-4">
        Services
      </p>
      <h1 class="text-2xl font-semibold text-center mb-8">
        High quality services for you
      </h1>
      <div class="grid grid-cols-3 w-9/12 gap-6 m-auto mb-8">
        <div class="flex flex-col w-full bg-white p-8 rounded-lg">
          <i
            class="material-icons h-10 w-10 bg-[#2edfcd33] text-[#2edfcd] flex items-center justify-center rounded-full"
            >sports</i
          >
          <h1 class="text-2xl mt-4 font-semibold">Prosthodontics</h1>
          <p class="text-justify text-sm mt-4">
            Replace teeth that have been lost, for whatever reason. Missing
            teeth pose more than an aesthetic issue; surrounding teeth may shift
            out of position toward gaps, bacteria is more likely to grow in food
            trapped in these gaps, and the ability to chew and speak can be
            severely compromised.
          </p>
          <a href="#" class="text-[#1e90ff] mt-4">Read More</a>
        </div>

        <div class="flex flex-col w-full bg-white p-8 rounded-lg">
          <i
            class="material-icons h-10 w-10 bg-[#2edfcd33] text-[#2edfcd] flex items-center justify-center rounded-full"
            >sports</i
          >
          <h1 class="text-2xl mt-4 font-semibold">Endodontics</h1>
          <p class="text-justify text-sm mt-4">
            Root Canal Treatment - (Single & Multiple Sittings)
            <br />
            Apexification -(Multiple Sittings)
            <br />
            Apexogenesis - (Multiple Sittings)
          </p>
          <a href="#" class="text-[#1e90ff] mt-4">Read More</a>
        </div>

        <div class="flex flex-col w-full bg-white p-8 rounded-lg">
          <i
            class="material-icons h-10 w-10 bg-[#2edfcd33] text-[#2edfcd] flex items-center justify-center rounded-full"
            >sports</i
          >
          <h1 class="text-2xl mt-4 font-semibold">Orthodontics</h1>
          <p class="text-justify text-sm mt-4">
            Many people with misaligned teeth have avoided orthodontic treatment
            because of the inconvenience and conspicuous appearance of
            traditional metal braces. Fortunately, these people can now
            straighten their teeth with ceramic braces or lingual braces or
            Invisalign, the clear alternative to metal braces.
          </p>
          <a href="#" class="text-[#1e90ff] mt-4">Read More</a>
        </div>
        <div class="flex flex-col w-full bg-white p-8 rounded-lg">
          <i
            class="material-icons h-10 w-10 bg-[#2edfcd33] text-[#2edfcd] flex items-center justify-center rounded-full"
            >sports</i
          >
          <h1 class="text-2xl mt-4 font-semibold">Exodontics</h1>
          <p class="text-justify text-sm mt-4">
            Exodontics is the practice of tooth extraction. Endodontic treatment
            is recommended for teeth affected by crown fracture exposing pulp,
            and pulpitis. However, it is not unusual to perform exodontic
            treatment when there is minimal crown available for restorative
            techniques. Exodontic treatment may also be used as a component of
            treatment for malocclusion.
          </p>
          <a href="#" class="text-[#1e90ff] mt-4">Read More</a>
        </div>

        <div class="flex flex-col w-full bg-white p-8 rounded-lg">
          <i
            class="material-icons h-10 w-10 bg-[#2edfcd33] text-[#2edfcd] flex items-center justify-center rounded-full"
            >sports</i
          >
          <h1 class="text-2xl mt-4 font-semibold">Conservative Dentistry</h1>
          <p class="text-justify text-sm mt-4">
            The field of Conservative Dentistry is one of the oldest branches of
            clinical dentistry which is concerned with conservation of teeth in
            the mouth. The primary goal is to encompasses the prevention,
            diagnosis and treatment of sequelae of dental caries and the other
            defects of natural teeth; techniques and procedures to restore the
            teeth to full function and appearance in an aesthetically pleasing
            manner with as little loss of the healthy tooth structure as
            possible.
          </p>
          <a href="#" class="text-[#1e90ff] mt-4">Read More</a>
        </div>

        <div class="flex flex-col w-full bg-white p-8 rounded-lg">
          <i
            class="material-icons h-10 w-10 bg-[#2edfcd33] text-[#2edfcd] flex items-center justify-center rounded-full"
            >sports</i
          >
          <h1 class="text-2xl mt-4 font-semibold">Implantology</h1>
          <p class="text-justify text-sm mt-4">
            We have an Oral & Maxillo - Facial surgeon, a Periodontist as well
            as a prosthodontist well trained and experienced in the field of
            Implantology. Good care and effort is given in planning, selecting
            implants for each patient at our clinic. Proper care is taken during
            Surgical, Prosthodontic and Maintenance phases of the treatment.
          </p>
          <a href="#" class="text-[#1e90ff] mt-4">Read More</a>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $(window).on("load scroll", function () {
          $(".fa-bars").removeClass("fa-times");
          $(".nav").removeClass("nav-toggle");
          console.log($(window).scrollTop());
          if ($(window).scrollTop() > 10) {
            $(".lHeader").addClass("header-active");
          } else {
            $(".lHeader").removeClass("header-active");
          }
        });
      });
    </script>
  </body>
</html>
