{% extends "doctors/base.html" %} {% load static %} {% block head%}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
<title>Demo Registration</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/clinicLogin.css' %}" />

{% endblock %} {% block content %}

<section class="clinicLogin">
  <!-- <div class="bubble bubbleBig"></div>
  <div class="bubble bubbleMedium"></div>
  <div class="bubble bubbleSmall"></div>
  <div class="bubble bubbleBig"></div>
  <div class="bubble bubbleMedium"></div>
  <div class="bubble bubbleSmall"></div> -->
  <div class="clinicPortal">
    <a type="button" class="btn btn-block" href="{% url 'patientregister' %}">
      <div class="clinicPortalItem">I am a patient</div>
    </a>
    <a type="button" class="btn btn-block" href="{% url 'doctorregister' %}">
      <div class="clinicPortalItem">I am a doctor</div>
    </a>
  </div>
</section>
{% endblock %}
