{% extends 'doctors/navbar.html' %} {% load static %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/billing.css' %}" />
<script src="https://cdn.tailwindcss.com"></script>
<title>Add Bill</title>
{% endblock %} {% block content %}
<div class="createBillingMain">
  <div class="createBillingCard">
    <h1>
      Add Bill

      <div class="dashboard-under"></div>
    </h1>

    <br />

    <form class="billingForm" action="" method="POST">
      <div class="infoFilter">
        {% csrf_token %} {% for field in form %}
        <div class="infoFilterInput">
          {{ field.label_tag }} {{ field }} {{ field.errors }}
        </div>
        {% endfor %}
      </div>
      <button type="Submit">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
