{% extends "doctors/navbar.html" %}{% load static %} {% block head%}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/components.css' %}"
/>
<title>Patient list</title>
{% endblock %} {% block content %}
<div class="doctorHomeMain">
  <img class="homeLogo" src="{% static 'img/adc-home.png' %}" class="logo" />
    <div class="dashboardContainer">
      <div class="dashboardLeft">
        <div class="dashboard">
          <h1 class="dash">
          <div class="dashboard-under"></div>
          Dashboard</h1>
        <div class="dashboardCard">
          <div class="dashCardItem">
            <i class="material-icons">medical_services</i> Total Patients
            <small>1200</small>
          </div>
          <div class="dashCardItem">
            <i class="material-icons">groups</i> Total Staff
            <small>1500</small>
          </div>
          <div class="dashCardItem">
            <i class="material-icons">hotel</i> Dental engines
            <small>1200</small>
          </div>
          <div class="dashCardItem">
            <i class="material-icons">vaccines</i> Total Doctors
            <small>700</small>
          </div>
        </div>
      </div>
      <div class="billingDetails">
          
          <h1 class="dash">
            <!-- <div class="dashboard-under"></div> -->
            
            Appointments</h1>
        <div class="billingCardsContainer">
          {% for sch in s %}
          <div class="billingCard">
           
            <span>{{sch.id}}</span>
            <p><i class="material-icons">face</i>{{sch.patient.pname}}</p>
            <span>{{sch.scheduleTime}}</span>
            <a href="/">
              <p>See more details</p>
            </a>
          </div>
          {% endfor %}
          
        </div>
      </div>
     
    </div>



    <div class="adcTableContainer doctorsTable">
      <div class="adcTable">
        <h1 class="dash">
          <!-- <div class="dashboard-under"></div> -->
          
          Doctors</h1>
        <div class="adcRow adcHead">
          <div class="adcCell">NAME</div>
          <div class="adcCell">EMAIL</div>
          <div class="adcCell">PHONE</div>
        </div>
        <div class="adcRowBody">
          {% for doctor in doc %}
          <div class="adcRow">
            <div class="adcCell">{{doctor.dname}}</div>
            <div class="adcCell">{{doctor.email}}</div>
            <div class="adcCell">{{doctor.phone}}</div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
