{% extends 'doctors/navbar.html' %} {% load static %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/manage.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/components.css' %}" />
<title>Manage Appointment</title>
{% endblock %} {% block content %}
<div class="manageMain">
  <div class="adcTableContainer">
    <h3>Pending Appointment</h3>
    <div class="adcTable">
      <div class="adcRow adcHead">
        <div class="adcCell">Schedule Date</div>
        <div class="adcCell">Patient</div>
        <div class="adcCell">Doctor</div>
        <div class="adcCell">Request</div>
        <div class="adcCell">Schedule Time</div>
       
      </div>
      {% for message in messages %}
<span style="color:red">{{ message }}</span>
{% endfor %}
      <div class="adcRowBody">
        {% for i in apt %}
            {% if i.accepted == False %}
            <div class="adcRow">
                <div class="adcCell">{{i.scheduleDate}}</div>
                <div class="adcCell">{{i.patient.pname}}</div>
                <div class="adcCell">{{i.doctor.dname}}</div>
                <div class="adcCell">{{i.request}}</div>
           
                <div class="adcCell">
                    <form action="" method="post" class="tableForm">
                        {% csrf_token %}
                        <input class="adcInputTime" type="time" name="time"  /></td>
                        <input hidden="true" name="sch-id" value="{{i.id}}">
                        <input class="adcBtn adcBtn-solid" type="submit" name="Accept">
                    </form>
                </div> 
            </div>
            {% endif %}
        {% endfor %}
      </div>
    </div>

    <br />
    <br />
    <br />
    
<div class="manage">
      <a href="{% url 'atdapt'  %}"><button type="submit">Manage Appointment</button></a>
    </button>
  </div>
  </div>
</div>  

    {% endblock %}