{% extends "doctors/base.html" %}

{% load static %} {% block head%}
<link rel="stylesheet" href="{% static 'css/register.css' %}" />
{% endblock %}

{% block content %}

      <section class="section">
      </figure>
      <div class="box portal" >
         <div class="logo">
    <img src="{% static 'img/adc.png' %}" class="logo" />
   </div>
           <h3 class="title is-3 portal-title">Register</h3>
           <div class="portal-title-under"></div>
         <div class="columns">
            <div class="column is-vcentered ">
               <div class="field">
                  <label class="label">Name</label>
                  <div class="control">
                     <input class="input" type="text" placeholder="Text input">
                  </div>
               </div>
               <div class="field">
                  <label class="label">Username</label>
                  <div class="control has-icons-left has-icons-right">
                     <input class="input is-success" type="text" placeholder="Text input" value="">
                     <span class="icon is-small is-left">
                     <i class="fa fa-user"></i>
                     </span>
                     <span class="icon is-small is-right">
                     <i class="fa fa-check"></i>
                     </span>
                  </div>
                  <p class="help is-success">This username is available</p>
               </div>
               <div class="field">
                <label class="label">Gender</label>
                <div class="control">
                   <div class="select">
                      <select>
                         <option>Select</option>
                         <option>Male</option>
                         <option>Female</option>
                      </select>
                   </div>
                </div>
             </div>
               <div class="field">
                  <label class="label">Email</label>
                  <div class="control has-icons-left has-icons-right">
                     <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
                     <span class="icon is-small is-left">
                     <i class="fa fa-envelope"></i>
                     </span>
                     <span class="icon is-small is-right">
                     <i class="fa fa-warning"></i>
                     </span>
                  </div>
                  <p class="help is-danger">This email is invalid</p>
               </div>
               <div class="field">
                  <label class="label">Phone</label>
                  <div class="control">
                     <input class="input" type="text" placeholder="Phone Number">
                  </div>
               </div>
               <div class="field">
                  <label class="label">Address</label>
                  <div class="control">
                     <input class="input" type="text" placeholder="Address">
                  </div>
               </div>
               <div class="field">
                <label class="label">Role</label>
                <div class="control">
                   <div class="select">
                      <select>
                         <option>Select</option>
                         <option>Doctor</option>
                         <option>Staff</option>
                      </select>
                   </div>
                </div>
                <span>   
                       
                </span>
               <div class="field">
                  <div class="control">
                     <label class="checkbox">
                     <input type="checkbox">
                     I agree to the <a href="#">terms and conditions</a>
                     </label>
                  </div>
               </div>
               <div class="field is-grouped">
                  <div class="control">
                     <button class="button is-link">Submit</button>
                  </div>
               </div>
            </div>
         </div>
         </div>
      </section>
      {% endblock %}
