{% extends 'doctors/navbar.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/viewreport.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/components.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/patient_list.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/patient_list.css' %}"
/>
<title>Patient Info</title>
{% endblock %} {% block content %}
<body>
  <div class="reportInfoContainer">
    <div class="reportInfo">
      <img
        src="{{ mh.report.url }}"
        class="img-responsive"
        style="width: 100%; float: left; margin-right: 10px"
      />
      <div class="reportInfoData">
        <h1>{{mh.patient.pname}}</h1>
        <div class="reportInfoItem">
          <p><b>Doctor</b></p>
          <p>{{mh.doctor.dname}}</p>
        </div>
        <div class="reportInfoItem">
          <p><b>Remarks</b></p>
          <p>{{mh.remarks}}</p>
        </div>
        <div class="reportInfoItem">
          <p><b>Date Created</b></p>
          <p>{{mh.date_created}}</p>
        </div>
        <div class="reportInfoItem">
          <!-- <p><b>Direction</b></p>
          <p>{{mh.direction}}</p> -->
        </div>
      </div>
    </div>
    <!-- <form class="reportInfoBtns" action="" method="POST">
      {% csrf_token %}
      <div id="emailInput">
        <input type="text" placeholder="Enter your email" />
        <button type ='submit' class="adcBtn adcBtn-plasma">Send mail</button>
      </div>
      <div>
        <button id="emailInputBtn" class="adcBtn adcBtn-plasma">Mail</button>
      </div>
    </form> -->
  </div>
  <script src="{% static 'js/report.js' %}"></script>
</body>
{% endblock %}
